.services-slide--subtitle {
  height: auto;
}

.services-slide--motto {
  height:auto;
  marign-bottom:20px;
}
.services-slide--image-caption-wrapper {
  height:auto;
  margin-top:20px;
}


/*Footer overrides*/
.footer--subtitle {
	/*color: #e3c9c9;*/
	opacity:0.8;
}

.footer--certifications {
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px solid #4b4b4b;
    border-left: 2px solid #4b4b4b;
}
.footer--certifications img {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-top: -4px;
    margin-bottom: 25px;
}

.newsletter-wrapper {
    padding-left: 25px;
}

.footer-links-wrapper {
    padding-left: 35px;
}

.footer--links li a:hover {
	background:none;
}


.footer--subtitle {
	font-weight: normal;
}

.footer--logo {
    margin-top: -11px;
}

.footer--subtitle-description,
.footer input#edit-submitted-email {
	font-weight: 300;
}

.footer .form-actions button {
    height: 55px;
    font-weight: 600;
    color:#c87d26;
    font-size:20px;
}
.footer .contact--email {
	opacity:0.8;
}

.view-footer-contact .views-row:last-child {
    margin-top: 20px;
}

.company-section-2--text {
    margin-bottom: 20px;
}

.tabbed-content--body {
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 300;
}



 @media screen and (min-width: 1170px) and (max-width: 1560px){

	.footer--subtitle {
		font-size: 16px;
	}
	
/*	.footer--contact p, .footer--contact a {
	    font-size:13px!important;
	}*/

	.newsletter-wrapper .footer--subtitle-description {
		font-size:14px;
	}



 }


  @media (min-width: 1930px){

	.footer input#edit-submitted-email {
		font-size:16px!important;

	}
	.footer input#edit-submitted-email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-size:16px!important;
	}
	.footer input#edit-submitted-email::-moz-placeholder { /* Firefox 19+ */
	  font-size:16px!important;
	}
	.footer input#edit-submitted-email:-ms-input-placeholder { /* IE 10+ */
	  font-size:16px!important;
	}
	.footer input#edit-submitted-email:-moz-placeholder { /* Firefox 18- */
	  font-size:16px!important;
	}
	.footer--links li a {
		font-size:17px;
		font-weight: normal;
	}
	.footer .contact-title {
		font-size: 16px;
		font-weight: normal;
	}
	.footer .contact--body p,
	.footer .contact--email {
		font-size:16px!important;
		font-weight: 300;
	}

  	
  }

  @media screen and (max-width: 1929px) and (min-width: 992px){

	.footer input#edit-submitted-email {
		font-size:13px!important;
		height:25px;
	}
	.footer input#edit-submitted-email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-size:13px!important;
	}
	.footer input#edit-submitted-email::-moz-placeholder { /* Firefox 19+ */
	  font-size:13px!important;
	}
	.footer input#edit-submitted-email:-ms-input-placeholder { /* IE 10+ */
	  font-size:13px!important;
	}
	.footer input#edit-submitted-email:-moz-placeholder { /* Firefox 18- */
	  font-size:13px!important;
	}
	.footer--links li a {
		font-size:14px;
		font-weight: normal;
	}
	.footer .contact-title {
		font-size: 13px;
		font-weight: normal;
	}
	.footer .contact--body p,
	.footer .contact--email {
		font-size:13px!important;
		font-weight: 300;
	}
	.footer .form-actions button {
	    font-size:16px;
	    height:45px;
	}

	.footer--subtitle{
		font-size:16px!important;
	}
	.footer .form-actions button {
		height:45px;
	}

  }


@media screen and (min-width: 992px) {
	.footer--subtitle-description {
		font-size:14px;
	}
}

 @media screen and (max-width: 992px) {

 	.footer--logo .footer--certifications {
	    display: block;
	    border: none;
	    margin-top:40px;
	    padding-left:0;
	}
	.footer-links-wrapper {
		padding-left:0;
	}

	.footer .mobile-border {
	    border-left: none;
	}

	.footer-border-wrapper {
	    margin-left: 15px;
	    border-left:1px solid #636363;
	    padding-left:45px;
	}

	.view-footer-contact .views-row:last-child {
	    margin-top: 0;
	}	



 }