.company-section-1{
  background: $color-orange;
  padding-bottom: 70px;

  &--title{
    margin-top: 63px;
    margin-bottom: 30px;
    text-align: center;

    @media screen and (min-width: $breakpoint-sm){
      margin-top: 80px;
      margin-bottom: 20px;
      text-align: left;
    }

    @media screen and (min-width: $breakpoint-md){
      margin-top: 80px;
      margin-bottom: 40px;
    }

    .number{
      color:white;
      padding-left: 10px;
    }

    .title{
      color:black;
    }
  }

  &--title{
    text-align: center;
    font-size: 38px;


    @media screen and (min-width: $breakpoint-sm){
      font-size: 40px;
      text-align: left;
    }

    @media screen and (min-width: $breakpoint-md){
      font-size:48px;
    }
  }

  &--text{
    font-size: 19px;
    text-align: center;

    @media screen and (min-width: $breakpoint-sm){
      font-size: 20px;
      text-align: left;
    }

    @media screen and (min-width: $breakpoint-md){
      font-size:28px;
    }
  }
}


.company-section-3{
  background: white;
  padding-bottom: 70px;

  &--title{
    margin-top: 63px;
    margin-bottom: 30px;
    text-align: center;

    @media screen and (min-width: $breakpoint-sm){
      margin-top: 80px;
      margin-bottom: 20px;
      text-align: left;
    }

    @media screen and (min-width: $breakpoint-md){
      margin-top: 80px;
      margin-bottom: 40px;
    }

    .number{
      color:$color-orange;
      padding-left: 10px;
    }

    .title{
      color:black;
    }
  }

  &--title{
    text-align: center;
    font-size: 38px;


    @media screen and (min-width: $breakpoint-sm){
      font-size: 40px;
      text-align: left;
    }

    @media screen and (min-width: $breakpoint-md){
      font-size:48px;
    }
  }

  &--text{
    font-size: 19px;
    text-align: center;

    @media screen and (min-width: $breakpoint-sm){
      font-size: 20px;
      text-align: left;
    }

    @media screen and (min-width: $breakpoint-md){
      font-size:28px;
    }
  }
}

.view-company-page-slideshow {
  .owl-nav > * {
    color: black;
    position: absolute;
    top: 50%;
  }
  .owl-nav .glyphicon {
    font-size: 40px;
    color: white;
  }
  .owl-prev {
    left: 5%;
  }
  .owl-next {
    right: 5%;
  }
  .owl-dots {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: -50px;
  }
  .owl-dot {
    padding: 10px;
    background: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 10px;
  }
  .owl-dot.active {
    background: $color-orange;
  }
}