.footer{

  background: $color-dark-grey;
  &--subtitle{
    color: white;
    font-weight: bold;
    font-size: 16px;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 20px;
      padding-bottom: 20px;
    }
  }

  &--certifications img{
    margin-bottom: 20px;
  }

  &--logo{
    .footer--certifications{
      display: none;

      @media screen and (max-width: $breakpoint-sm) {
        display: block;
      }
    }


  }

  &--links{
    color:#898989;
    font-size: 16px;
    font-weight: bold;

    li a {
      padding: 0 !important;
      color:#898989;
    }

    li {
      width: 100%;
      margin-bottom: 20px;
    }

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 14px;
    }
  }
}