$color-orange: #f9771c;
$color-grey: #838383;
$color-dark-grey:#333333;

$breakpoint-large: 1600px;
$breakpoint-md: 1140px;
$breakpoint-sm: 768px;

$font-stack: 'Open Sans', Helvetica, sans-serif;

$menu-breakpoint: 992px;

@media (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1560px;
  }
}

@mixin button($border-color,$background-color,$color) {

  min-width: 170px;
  min-height: 60px;

  @media screen and (min-width: $breakpoint-md) {
    min-width: 190px;
    min-height: 55px;
  }

  @media screen and (min-width: $breakpoint-large) {
    min-width: 230px;
    min-height: 80px;

  }

  text-transform: uppercase;

  border: 1px solid $border-color;
  background: $background-color;
  display: inline-block;

  text-align: center;
  cursor: pointer;

  vertical-align: middle;

  a {

    display: block;
    color: $color;
    font-size: 18px;
    line-height: 60px;


    @media screen and (min-width: $breakpoint-md) {
      min-width: 190px;
      min-height: 55px;
      line-height: 55px;
      height: 55px;

    }

    @media screen and (min-width: $breakpoint-large) {
      min-width: 232px;
      min-height: 80px;
      line-height: 80px;
      height: 80px;
      font-size: 22px;

    }
  }

  a:hover {
    text-underline: none;
    text-decoration: none;
  }
}

.view-page-section article header > h2 {
  display: none;
}

.my-container {
  margin: auto;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
  @media (min-width: 1600px) {
    width: 1560px;
  }

}


body{
  font-family: $font-stack;
}

.show-mobile-only{
  display: none !important;
  @media screen and (max-width: $breakpoint-md){
    display: block !important;
  }
}
.show-desktop-only{
  display: none !important;
  @media screen and (min-width: $breakpoint-md){
    display: block !important;
  }
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}

