
.section-2{
  padding-top: 125px;
  padding-bottom: 125px;
  background: #333333;
  color:white;

  &--title{
    font-size: 41px;
    margin-bottom: 40px;


    @media screen and (min-width: $breakpoint-large) {
      font-size: 52px;
    }



  }

  .text-wrapper{
    @media screen and (max-width: $breakpoint-sm) {
      & > * {
        margin: auto;
        text-align: center;
        float: none;
      }
    }
  }

  &--text{
    font-size: 23px;

    @media screen and (min-width: $breakpoint-large) {
      font-size: 30px;
    }

    margin-bottom: 45px;
  }

  &--smaller-text{
    font-size: 18px;
    margin-bottom: 45px;

    @media screen and (min-width: $breakpoint-md) {
      font-size: 22px;
    }


  }


  &-button{
    @include button($color-orange,none,white);
  }
}


.storytelling{
  padding-top: 60px;
  padding-bottom: 60px;
  background: #e6e7e9;

  @media screen and (min-width: $breakpoint-sm) {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  @media screen and (min-width: $breakpoint-md) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &--title{
    font-size: 36px;
    color:#808920;
    padding-bottom: 20px;
    @media screen and (max-width: $breakpoint-sm){
      text-align: center;

    }

    @media screen and (min-width: $breakpoint-md){
      font-size: 46px;
      padding-bottom: 40px;

    }
  }

  &--text-wrapper{
    @media screen and (max-width: $breakpoint-sm){
      text-align: center;

    }
  }

  &--description{

    font-size: 21px;
    text-align: center;
    padding-bottom: 20px;


    @media screen and (min-width: $breakpoint-sm) {
      font-size: 21px;
      text-align: left;
      padding-bottom: 70px;

    }

    @media screen and (min-width: $breakpoint-md) {
      font-size: 26px;
      text-align: left;
      padding-bottom: 90px;

    }

  }

  &--button{
    @media screen and (max-width: $breakpoint-sm){
      text-align: center;

    }

    @include button(#808920,#fff,#000);
  }
}