.navbar-default {
  background: transparent;
  padding: 0;
  /* margin-top: 35px; */
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 111;

  img.grey {
    display: none;
  }

  .navbar-nav > .active > a {
    color: white;
  }

  .row .image-wrapper{
    padding: 0;
  }

  &.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    margin-top: 0;
    background: white;

    padding-bottom: 25px;
    padding-top: 25px;

    img.white{
      display: none;
    }

    .icon-bar {
        background: grey;
    }

    img.grey{
      display: block;
    }

    li > a {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 20px;
      color: $color-grey !important;
      background-color: transparent !important;
      padding-left: 0px;



      @media screen and (min-width: $breakpoint-sm) {
        font-size: 16px;
      }

      @media screen and (min-width: $breakpoint-large) {
        font-size: 20px;
      }

      &:hover {
        color: $color-grey !important;
      }
    }
  }

  .navbar-collapse {
    background: none;
    padding: 0;
  }

  .navbar-header a {
    margin: 0;
  }

  .navbar-nav {
    margin: 0;


    > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 20px;
      color: white;
      background-color: transparent !important;
      padding-left: 0px;

      @media screen and (min-width: $breakpoint-sm) {
        font-size: 20px;
      }

      @media screen and (min-width: $breakpoint-large) {
        font-size: 16px;
      }

      &:hover {
        color: $color-grey;
      }

    }
  }

  .menu.nav.navbar-nav:not(.secondary) {

  }

  @media screen and (max-width: $breakpoint-large) {
    .navbar-default .row {
      position: relative;
    }
  }

  .image-wrapper {
    @media screen and (max-width: $menu-breakpoint) {
      text-align: center;

      a {
        display: inline-block;
      }
    }

    a {
      margin: 0px;
    }

  }

  .navbar-nav {
    @media screen and (max-width: $breakpoint-large) {
      float: none;
      margin: 0;
    }
  }

}

ul.language-switcher-locale-url {
  list-style-type: none;
  display: inline-block;
  margin: 0;

  /* float: right; */
  padding: 0;

  li {
    float: left;
    display: inline;

    a {

      color: white;

      @media screen and (min-width: $breakpoint-large) {
        font-size: 20px;
        line-height: 20px
      }

      @media screen and (min-width: $breakpoint-large) {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
  li.first {
    border-right: 1px solid white;
    padding-right: 5px;
    margin-right: 5px;
  }
  li.active a {
    color: $color-orange;
  }
}

section#block-locale-language {
  display: inline;
}

.region.region-navigation {
  float: right;
}

.menu-wrapper {
  &.desktop {
    display: none;
    @media screen and (min-width: $menu-breakpoint) {
      display: block;
    }
  }

  &.mobile {
    display: none;
    @media screen and (max-width: $menu-breakpoint) {
      display: block;
    }

    .my-navbar-collapse {
      display: none;
    }

    li {
      float: none;
      display: block;
      border-right: none !important;

      a {
        color: white;
        font-size: 16px;
      }
    }
  }

  button {
    position: absolute;
    top: -37px;
    left: 10px;
    background: none;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 5px;

    .icon-bar + .icon-bar {
      margin-top: 4px;
    }
    .icon-bar {
      display: block;
      width: 34px;
      height: 6px;
      border-radius: 1px;
      /* border: 1px solid transparent; */
      background: white;
    }
  }
}



