.services-slide{
  background: #333333;
  padding-top: 15px;

  &--image-caption-wrapper{
    font-size: 12px;
    color:#999999;
    text-align: right;

    @media screen and (min-width: $breakpoint-sm){
      font-size: 13px;
    }

    @media screen and (min-width: $breakpoint-md){
      font-size: 14px;
      margin-bottom: 25px;
    }

    .client{
      color:white;


    }

    .services-slide--client{
      color:$color-orange;
    }
  }

  &--subtitle{
    color:$color-orange;
    font-size:28px;
    font-weight: bolder;
    padding-bottom: 22px;

    @media screen and (min-width: $breakpoint-sm){
      font-size: 28px;
      padding-bottom: 20px;
    }

    @media screen and (min-width: $breakpoint-md){
      font-size: 32px;
      padding-bottom: 25px;
    }

  }
  &--motto{
    color:#999999;
    font-size:16px;
    font-weight: bolder;
    padding-bottom: 15px;

    @media screen and (min-width: $breakpoint-sm){
      font-size: 24px;
      padding-bottom: 20px;
    }

    @media screen and (min-width: $breakpoint-md){
      font-size: 26px;
      padding-bottom: 25px;
    }

  }
}
.view-services-slideshow {

  background: $color-orange;

  #views-bootstrap-tab-1{
    display: table;
    width: 100%;
  }

  .nav-wrapper{
    display: table-footer-group;
  }

  &.view-display-id-block_1 {


    background-color: $color-orange;

    //margin: auto;
    //
    //@media (min-width: 768px) {
    //  width: 750px;
    //}
    //@media (min-width: 992px) {
    //  width: 970px;
    //}
    //@media (min-width: 1200px) {
    //  width: 1170px;
    //}
    //@media (min-width: 1600px) {
    //  width: 1560px;
    //}

    .view-content {
      @extend .my-container;

      padding-top: 30px;
      padding-bottom: 30px;

      > div:last-child .bullet{
        display: none;
      }

      > div {
        //float: left;
        //padding-right: 10px;
        //padding-left: 10px;
        //word-wrap: normal;
        display: inline;



      }

      //> div:first-child .views-field-title span::before {
      //  content: ".";
      //  position: absolute;
      //  left: 0;
      //  top: 13%;
      //  display: block;
      //}

      //@media screen and (min-width: $breakpoint-sm) {
      //  > div:first-child .views-field-title span::before {
      //    content: ".";
      //    position: absolute;
      //    left: 0;
      //    top: 6%;
      //    display: block;
      //  }
      //
      //}
      //@media screen and (min-width: $breakpoint-md) {
      //  > div:first-child .views-field-title span::before {
      //    content: ".";
      //    position: absolute;
      //    left: 0;
      //    top: 0%;
      //    display: block;
      //  }

      //}
    }

    .views-field-title{
      display: inline;
      position: relative;
    }

    .bullet{
      position: absolute;
      top: -10px;
      display: block;
      right: 2px;
    }

    .views-field-title .field-content {

      /* margin-bottom: -1px; */
      display: inline;
      position: relative;
      background: none;
      padding: 0;
      padding-right: 20px;
      cursor: pointer;

      &:hover{
        color: white;
      }

      &.active{
        color:white;
      }


      font-size:22px;
      @media screen and (min-width: $breakpoint-sm) {

        font-size:26px;
      }

      @media screen and (min-width: $breakpoint-md) {
        font-size:32px;


      }

    }




  }

  &.view-display-id-block .view-content{
    @extend .clearfix;
    background: #333333;
  }

  &.view-display-id-block_1{
    @extend .clearfix;
  }

  //.nav-tabs li {
  //  float: left;
  //  /* margin-bottom: -1px; */
  //  display: inline;
  //  position: relative;
  //  background: none;
  //  padding: 10px 18px;
  //
  //  font-size:22px;
  //  @media screen and (min-width: $breakpoint-sm) {
  //    font-size:26px;
  //  }
  //
  //  @media screen and (min-width: $breakpoint-md) {
  //    font-size:32px;
  //  }
  //
  //
  //
  //
  //}
  //
  //.nav-tabs li:after {
  //  content: ".";
  //  position: absolute;
  //  right: 0;
  //  top: 7px;
  //
  //}
  //
  //.nav-tabs li:first-child:before {
  //  content: ".";
  //  position: absolute;
  //  left: 0;
  //  top: 7px;
  //
  //}
  //
  //.nav-tabs li.active{
  //  background: none;
  //}
  //.nav-tabs li.active a {
  //  border: none;
  //  border-radius: 0px;
  //  color: white;
  //  padding: 0;
  //  background: none;
  //
  //}
  //
  //.nav-tabs li a {
  //  border: none;
  //  border-radius: 0px;
  //  color: black;
  //  padding:0;
  //}
  //
  //.nav-tabs li a:hover {
  //  border: none;
  //  border-radius: 0;
  //  color: white;
  //  background: none;
  //}
  //
  //.nav-tabs {
  //  background: none;
  //  margin-bottom: 0;
  //  border:none;
  //  @extend .my-container;
  //}
}
