.service-step {
    margin:50px 0;
	text-align:center;
	
	&--num {

		font-size:58px;
		
		
	}


	&--summary {
	  
	   
	}

	&--title {
		font-weight:600;
		font-size:20px;
		border-bottom:1px solid black;
		padding:5px;
		margin-bottom:5px;

	}

	&--sub {
		font-size:22px;
		
	}


	&--description {
		font-size:18px;
		font-weight:300;
		
	}

    
	
	@media screen and (min-width: $breakpoint-md) {
	
		text-align:left;
		
		.service-step--num {

			font-size:60px;
			line-height:60px;
			
		}


		&--summary {
		   padding-left:40px;
		   max-height: 160px;
		   overflow: visible;
		   width:100%;
		   border-left:1px;
		   
		}

		.service-step--title {
			font-weight:600;
			font-size:20px;
			border-bottom:1px solid black;
			padding:5px;
			margin-bottom:5px;

		}

		.service-step--sub {
			font-size:22px;
			
		}


		.service-step--description {
			font-size:18px;
			font-weight:300;
			
		}

		.service-step--title, .service-step--description {
			margin-top:25px;
		 

		}
	}	
}
