.slideshow{
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;

  min-height: 800px;


  @media screen and (min-width: $breakpoint-large) {
    min-height: 1000px ;
  }



  &--label-wrapper{
   padding: 25px;
    position: absolute;
    top:75%;
    background: #0099ff;
    display: inline-block;
    color: white;

    @media screen and (max-width:$breakpoint-sm){
      left: 40px;
    }

  }

  &--label{
    color:white;
    font-size: 20px;
  }

  &--mobile-img{
      display: none;
      //@media screen and (max-width: $breakpoint-sm){
      //  display: block;
      //}

  }
}

.view-frontpage-slideshow{
  .owl-nav > * {
    color: black;
    position: absolute;
    top: 50%;
  }
  .owl-nav .glyphicon {
    font-size: 40px;
    color: white;
  }
  .owl-prev {
    left: 5%;
  }
  .owl-next {
    right: 5%;
  }
  .owl-dots {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: -50px;
  }
  .owl-dot {
    padding: 10px;
    background: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 10px;
  }
  .owl-dot.active {
    background: $color-orange;
  }
}