.tabbed-content{

  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;

  @media screen and (max-width: $breakpoint-sm){
    background: #cccccc !important;
    color:black !important;

    .tabbed-content--body{
      color: black !important;
    }
  }


  &--title{
    margin-top: 120px;
    margin-bottom: 25px;
    font-size: 38px;
    text-align: center;

    @media screen and (min-width: $breakpoint-sm){
      display: none;
    }
  }

  &--img{
    @media screen and (min-width: $breakpoint-sm){
      display: none;
    }
  }

  &--wrapper{

    margin-top:40px;
    margin-bottom: 10px;
    text-align: left;


    @media screen and (max-width: $breakpoint-sm){
      margin-left:auto;
      margin-right: auto;
      text-align: center;
    }


    @media screen and (min-width: $breakpoint-md){
      margin-top: 160px;
      margin-bottom: 160px;
    }

    @media screen and (min-width: $breakpoint-large){
      margin-top: 180px;
      margin-bottom: 200px;
    }

  }

  &--subtitle{
    font-size: 34px;

    @media screen and (min-width: $breakpoint-large){
      font-size: 36px;
    }

    @media screen and (min-width: $breakpoint-large){
      font-size: 45px;
    }
  }


  &--body{
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 20px;

    @media screen and (min-width: $breakpoint-large){
      font-size: 26px;
    }
  }


  &--button{
    &.button-0{
      @include button(#7b5231,#7b5231,#fff)
    }

    &.button-1{
      @include button(#fff,#fff,#7a7a7a);

      @media screen and (max-width: $breakpoint-sm){
        background: #5994d3;
        border-color: #5994d3;
        a{
          color:white;
        }
      }
    }
  }
}


.views-bootstrap-tab-plugin-style{
  background: white;

  @media screen and (max-width: $breakpoint-sm){

    .tab-content > .tab-pane {
      display: block !important;
    }

    .nav.nav-tabs{
      display: none;
    }
  }


  .nav.nav-tabs {
    @extend .my-container;
    border: none;
    margin-top: 15px;
    margin-bottom: 1px;


    li {
      border: none;
      border-radius: 0;
      width:25%;
      float:left;
    }

    li a {
      background: none;
      padding: 0;
      border: none;
      color: #7a7a7a;
      text-align: center;
      background: white;
      border-radius: 0;
      margin: 0;
      font-size: 22px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    li:first-child a{
      float: left;
    }

    li:last-child a{
      float: right;
    }

    li.active a {
      background: none;
      padding: 0;
      border: none;
      color: #7a7a7a;
      text-align: center;
      text-decoration: underline;


      text-underline-color: $color-orange;
      text-decoration-color: $color-orange;
      -moz-text-decoration-color: $color-orange;
      background: white;
      border-radius: 0;
      margin: 0;
      font-size: 22px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}