@media (min-width: 1140px) {
  .container {
    width: 1140px; } }
@media (min-width: 1600px) {
  .container {
    width: 1560px; } }
.view-page-section article header > h2 {
  display: none; }

.my-container, .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs, .view-services-slideshow.view-display-id-block_1 .view-content {
  margin: auto; }
  @media (min-width: 768px) {
    .my-container, .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs, .view-services-slideshow.view-display-id-block_1 .view-content {
      width: 750px; } }
  @media (min-width: 992px) {
    .my-container, .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs, .view-services-slideshow.view-display-id-block_1 .view-content {
      width: 970px; } }
  @media (min-width: 1200px) {
    .my-container, .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs, .view-services-slideshow.view-display-id-block_1 .view-content {
      width: 1170px; } }
  @media (min-width: 1921px) {
    .my-container, .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs, .view-services-slideshow.view-display-id-block_1 .view-content {
      width: 1560px; } }

.container {
  margin: auto; }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media screen and (min-width: 1921px) {
    .container {
      width: 1560px; } }

body {
  font-family: "Open Sans", Helvetica, sans-serif; }

.show-mobile-only {
  display: none !important; }
  @media screen and (max-width: 1200px) {
    .show-mobile-only {
      display: block !important; } }

.show-desktop-only {
  display: none !important; }
  @media screen and (min-width: 1200px) {
    .show-desktop-only {
      display: block !important; } }

.clearfix:after, .view-services-slideshow.view-display-id-block .view-content:after, .view-services-slideshow.view-display-id-block_1:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix, .view-services-slideshow.view-display-id-block .view-content, .view-services-slideshow.view-display-id-block_1 {
  display: inline-block; }

.clearfix, .view-services-slideshow.view-display-id-block .view-content, .view-services-slideshow.view-display-id-block_1 {
  display: block; }

.node-type-page .form-item.form-type-item {
  display: none; }

.node-page footer .links.list-inline {
  display: none; }

.page-node-40, .page-node-43 {
  padding-top: 115px; }

.navbar-default {
  background: transparent;
  padding: 0;
  /* margin-top: 35px; */
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 111; }
  .navbar-default img.grey {
    display: none; }
  .navbar-default .navbar-nav > .active > a {
    color: white; }
  .navbar-default img.white {
    z-index: 1111111;
    position: relative; }
  .navbar-default.sticky, .page-node-40 .navbar-default, .page-node-43 .navbar-default {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    margin-top: 0;
    background: white;
    padding-bottom: 25px;
    padding-top: 28px; }
    .navbar-default.sticky img.white, .page-node-40 .navbar-default img.white, .page-node-43 .navbar-default img.white {
      display: none;
      z-index: 1111111;
      position: relative; }
    .navbar-default.sticky .icon-bar, .page-node-40 .navbar-default .icon-bar, .page-node-43 .navbar-default .icon-bar {
      background: grey; }
    .navbar-default.sticky img.grey, .page-node-40 .navbar-default img.grey, .page-node-43 .navbar-default img.grey {
      display: block;
      z-index: 1111111;
      position: relative; }
    .navbar-default.sticky ul.language-switcher-locale-url li > a.active, .page-node-40 .navbar-default ul.language-switcher-locale-url li > a.active, .page-node-43 .navbar-default ul.language-switcher-locale-url li > a.active {
      color: #f9771c !important; }
    .navbar-default.sticky ul.language-switcher-locale-url li.first, .page-node-40 .navbar-default ul.language-switcher-locale-url li.first, .page-node-43 .navbar-default ul.language-switcher-locale-url li.first {
      border-right: 1px solid #838383; }
    .navbar-default.sticky li.active a, .page-node-40 .navbar-default li.active a, .page-node-43 .navbar-default li.active a {
      color: #f9771c !important; }
    .navbar-default.sticky li > a, .page-node-40 .navbar-default li > a, .page-node-43 .navbar-default li > a {
      padding-top: 30px;
      padding-bottom: 30px;
      color: #838383 !important;
      background-color: transparent !important;
      padding-left: 0px;
      font-size: 16px; }
      @media screen and (min-width: 1921px) {
        .navbar-default.sticky li > a, .page-node-40 .navbar-default li > a, .page-node-43 .navbar-default li > a {
          font-size: 20px; } }
      .navbar-default.sticky li > a:hover, .page-node-40 .navbar-default li > a:hover, .page-node-43 .navbar-default li > a:hover {
        color: #f9771c !important; }
  .navbar-default .navbar-collapse {
    background: none;
    padding: 0; }
  .navbar-default .navbar-header a {
    margin: 0; }
  .navbar-default .navbar-nav {
    margin: 0; }
    .navbar-default .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 16px;
      color: white;
      background-color: transparent !important;
      padding-left: 0px; }
      @media screen and (min-width: 1921px) {
        .navbar-default .navbar-nav > li > a {
          font-size: 16px; } }
      .navbar-default .navbar-nav > li > a:hover {
        color: #838383; }
  .navbar-default .menu.nav.navbar-nav:not(.secondary) {
    float: right; }
  @media screen and (max-width: 1921px) {
    .navbar-default .navbar-default .row {
      position: relative; } }
  @media screen and (max-width: 992px) {
    .navbar-default .image-wrapper {
      text-align: center; }
      .navbar-default .image-wrapper a {
        display: inline-block; } }
  .navbar-default .image-wrapper a {
    margin: 0px; }
  @media screen and (max-width: 1921px) {
    .navbar-default .navbar-nav {
      float: none;
      margin: 0; } }

ul.language-switcher-locale-url {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  /* float: right; */
  padding: 0; }
  ul.language-switcher-locale-url li {
    float: left !important;
    display: inline !important; }
    ul.language-switcher-locale-url li a {
      color: white;
      font-size: 16px;
      line-height: 16px; }
      @media screen and (min-width: 1921px) {
        ul.language-switcher-locale-url li a {
          font-size: 20px;
          line-height: 20px; } }
  ul.language-switcher-locale-url li.first {
    border-right: 1px solid white;
    padding-right: 5px;
    margin-right: 5px; }
  ul.language-switcher-locale-url li.active a {
    color: #f9771c; }

section#block-locale-language {
  display: inline; }

.region.region-navigation {
  float: right; }

.menu-wrapper.desktop {
  display: none; }
  @media screen and (min-width: 992px) {
    .menu-wrapper.desktop {
      display: block; } }
.menu-wrapper.mobile {
  display: none; }
  @media screen and (max-width: 992px) {
    .menu-wrapper.mobile {
      display: block; } }
  .menu-wrapper.mobile .my-navbar-collapse {
    display: none; }
  .menu-wrapper.mobile .my-navbar-collapse.collapse.in {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0; }
    .menu-wrapper.mobile .my-navbar-collapse.collapse.in .menu {
      float: none;
      position: relative;
      width: 75%;
      display: block;
      margin: auto;
      margin-top: 115px; }
      .menu-wrapper.mobile .my-navbar-collapse.collapse.in .menu .leaf.first {
        border-top: 1px solid white; }
      .menu-wrapper.mobile .my-navbar-collapse.collapse.in .menu .leaf {
        padding: 25px 15px;
        border-bottom: 1px solid white;
        font-size: 22px; }
        .menu-wrapper.mobile .my-navbar-collapse.collapse.in .menu .leaf a {
          color: white !important; }
      .menu-wrapper.mobile .my-navbar-collapse.collapse.in .menu .leaf.active {
        background-color: #d3883c; }
    .menu-wrapper.mobile .my-navbar-collapse.collapse.in .language-switcher-locale-url {
      float: none;
      width: 75%;
      display: block;
      text-align: right;
      margin: auto;
      padding-top: 50px;
      padding-bottom: 150px; }
      .menu-wrapper.mobile .my-navbar-collapse.collapse.in .language-switcher-locale-url li {
        float: none !important;
        font-size: 24px;
        padding-left: 5px;
        padding-right: 5px; }
        .menu-wrapper.mobile .my-navbar-collapse.collapse.in .language-switcher-locale-url li a {
          padding: 0;
          color: white; }
      .menu-wrapper.mobile .my-navbar-collapse.collapse.in .language-switcher-locale-url li:first-child {
        border-right: 1px solid white !important; }
  .menu-wrapper.mobile li {
    float: none;
    display: block;
    border-right: none !important; }
    .menu-wrapper.mobile li a {
      color: white;
      font-size: 16px; }
.menu-wrapper button {
  position: absolute;
  top: -37px;
  left: 10px;
  background: none;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 5px;
  z-index: 11111111; }
  .menu-wrapper button .icon-bar + .icon-bar {
    margin-top: 4px; }
  .menu-wrapper button .icon-bar {
    display: block;
    width: 34px;
    height: 6px;
    border-radius: 1px;
    /* border: 1px solid transparent; */
    background: white; }

.lang {
  text-align: right; }

.section-2 {
  padding-top: 60px;
  padding-bottom: 70px;
  background: #333333;
  color: white; }
  @media screen and (min-width: 1200px) {
    .section-2 {
      padding-top: 100px;
      padding-bottom: 105px; } }
  @media screen and (min-width: 1921px) {
    .section-2 {
      padding-top: 125px;
      padding-bottom: 135px; } }
  .section-2--title {
    font-size: 41px;
    margin-bottom: 40px;
    font-weight: 300; }
    @media screen and (min-width: 1200px) {
      .section-2--title {
        font-size: 41px; } }
    @media screen and (min-width: 1921px) {
      .section-2--title {
        font-size: 52px; } }
  @media screen and (max-width: 1200px) {
    .section-2 .text-wrapper > * {
      margin: auto;
      text-align: center;
      float: none; } }
  .section-2--text {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 45px; }
    @media screen and (min-width: 1921px) {
      .section-2--text {
        font-size: 30px; } }
  .section-2--smaller-text {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 45px; }
    @media screen and (min-width: 1200px) {
      .section-2--smaller-text {
        font-size: 18px; } }
    @media screen and (min-width: 1921px) {
      .section-2--smaller-text {
        font-size: 22px; } }
  .section-2-button {
    min-width: 170px;
    min-height: 60px;
    text-transform: uppercase;
    border: 2px solid #f9771c;
    background: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle; }
    @media screen and (min-width: 1200px) {
      .section-2-button {
        min-width: 185px;
        min-height: 55px; } }
    @media screen and (min-width: 1921px) {
      .section-2-button {
        min-width: 230px;
        min-height: 80px; } }
    .section-2-button a {
      display: block;
      color: white;
      font-size: 18px;
      line-height: 60px;
      font-weight: 600; }
      @media screen and (min-width: 1200px) {
        .section-2-button a {
          min-width: 190px;
          min-height: 55px;
          line-height: 55px;
          height: 55px; } }
      @media screen and (min-width: 1921px) {
        .section-2-button a {
          min-width: 232px;
          min-height: 80px;
          line-height: 80px;
          height: 80px;
          font-size: 22px; } }
    .section-2-button a:hover {
      text-underline: none;
      text-decoration: none; }

.storytelling {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #e6e7e9; }
  @media screen and (min-width: 768px) {
    .storytelling {
      padding-top: 160px;
      padding-bottom: 160px; } }
  @media screen and (min-width: 1200px) {
    .storytelling {
      padding-top: 200px;
      padding-bottom: 200px; } }
  .storytelling--title {
    font-size: 36px;
    color: #808920;
    padding-bottom: 20px;
    font-weight: 300; }
    @media screen and (max-width: 1200px) {
      .storytelling--title {
        text-align: center; } }
    @media screen and (min-width: 1921px) {
      .storytelling--title {
        font-size: 45px;
        padding-bottom: 40px; } }
  @media screen and (max-width: 1200px) {
    .storytelling--text-wrapper {
      text-align: center; } }
  .storytelling--description {
    font-size: 21px;
    text-align: center;
    padding-bottom: 20px;
    color: #333333;
    font-weight: 300; }
    @media screen and (min-width: 768px) {
      .storytelling--description {
        font-size: 21px;
        text-align: left;
        padding-bottom: 70px; } }
    @media screen and (min-width: 1200px) {
      .storytelling--description {
        font-size: 26px;
        text-align: left;
        padding-bottom: 90px; } }
  .storytelling--button {
    min-width: 170px;
    min-height: 60px;
    text-transform: uppercase;
    border: 2px solid #808920;
    background: transparent;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle; }
    @media screen and (max-width: 1200px) {
      .storytelling--button {
        text-align: center; } }
    .storytelling--button.show-desktop-only {
      display: none !important; }
      @media screen and (min-width: 1200px) {
        .storytelling--button.show-desktop-only {
          display: inline-block !important; } }
    @media screen and (min-width: 1200px) {
      .storytelling--button {
        min-width: 185px;
        min-height: 55px; } }
    @media screen and (min-width: 1921px) {
      .storytelling--button {
        min-width: 230px;
        min-height: 80px; } }
    .storytelling--button a {
      display: block;
      color: #707071;
      font-size: 18px;
      line-height: 60px;
      font-weight: 600; }
      @media screen and (min-width: 1200px) {
        .storytelling--button a {
          min-width: 190px;
          min-height: 55px;
          line-height: 55px;
          height: 55px; } }
      @media screen and (min-width: 1921px) {
        .storytelling--button a {
          min-width: 232px;
          min-height: 80px;
          line-height: 80px;
          height: 80px;
          font-size: 22px; } }
    .storytelling--button a:hover {
      text-underline: none;
      text-decoration: none; }

.service-step {
  margin: 50px 0;
  text-align: center; }
  .service-step--num {
    font-size: 58px; }
  .service-step--title {
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 5px; }
  .service-step--sub {
    font-size: 22px; }
  .service-step--description {
    font-size: 18px;
    font-weight: 300; }
  @media screen and (min-width: 1200px) {
    .service-step {
      text-align: left; }
      .service-step .service-step--num {
        font-size: 60px;
        line-height: 60px; }
      .service-step--summary {
        padding-left: 40px;
        max-height: 160px;
        overflow: visible;
        width: 100%;
        border-left: 1px; }
      .service-step .service-step--title {
        font-weight: 600;
        font-size: 20px;
        border-bottom: 1px solid black;
        padding: 5px;
        margin-bottom: 5px; }
      .service-step .service-step--sub {
        font-size: 22px; }
      .service-step .service-step--description {
        font-size: 18px;
        font-weight: 300; }
      .service-step .service-step--title, .service-step .service-step--description {
        margin-top: 25px; } }

.services--section-2 {
  background: #e6e6e6;
  padding-top: 40px;
  padding-bottom: 45px; }
  @media screen and (min-width: 1200px) {
    .services--section-2 {
      padding-top: 80px;
      padding-bottom: 40px; } }
  @media screen and (min-width: 1921px) {
    .services--section-2 {
      padding-top: 40px;
      padding-bottom: 45px; } }
  @media screen and (max-width: 1200px) {
    .services--section-2-image {
      text-align: center;
      margin-bottom: 30px; }
      .services--section-2-image img {
        margin: auto; } }
  .services--section-2-text {
    font-size: 19px;
    margin-top: 45px;
    font-weight: 300;
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .services--section-2-text {
        font-size: 23px;
        margin-top: 40px;
        text-align: left; } }
    @media screen and (max-width: 1921px) {
      .services--section-2-text {
        text-align: left;
        font-size: 30px;
        margin-bottom: 30px; } }

.slideshow {
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  min-height: 800px; }
  @media screen and (min-width: 1921px) {
    .slideshow {
      min-height: 1000px; } }
  .slideshow--label-wrapper {
    padding: 25px;
    position: absolute;
    top: 75%;
    background: #0099ff;
    display: inline-block;
    color: white; }
    @media screen and (max-width: 768px) {
      .slideshow--label-wrapper {
        left: 40px; } }
  .slideshow--label {
    color: white;
    font-size: 16px; }
    @media screen and (min-width: 1200px) {
      .slideshow--label {
        font-size: 16px; } }
    @media screen and (min-width: 1921px) {
      .slideshow--label {
        font-size: 20px; } }
  .slideshow--mobile-img {
    display: none; }

.view-frontpage-slideshow .owl-nav > * {
  color: black;
  position: absolute;
  top: 50%; }
.view-frontpage-slideshow .owl-nav .glyphicon {
  font-size: 40px;
  color: white; }
.view-frontpage-slideshow .owl-prev {
  left: 5%; }
.view-frontpage-slideshow .owl-next {
  right: 5%; }
.view-frontpage-slideshow .owl-dots {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: -50px; }
.view-frontpage-slideshow .owl-dot {
  padding: 10px;
  background: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px; }
.view-frontpage-slideshow .owl-dot.active {
  background: #f9771c; }

.tabbed-content {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important; }
  @media screen and (max-width: 768px) {
    .tabbed-content {
      background: #cccccc !important;
      color: #333333 !important; }
      .tabbed-content .tabbed-content--body {
        color: #333333 !important; } }
  .tabbed-content--title {
    margin-top: 120px;
    margin-bottom: 25px;
    font-size: 38px;
    text-align: center;
    font-weight: 300; }
    @media screen and (min-width: 768px) {
      .tabbed-content--title {
        display: none; } }
  @media screen and (min-width: 768px) {
    .tabbed-content--img {
      display: none; } }
  .tabbed-content--wrapper {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left; }
    @media screen and (max-width: 768px) {
      .tabbed-content--wrapper {
        margin-left: auto;
        margin-right: auto;
        text-align: center; } }
    @media screen and (min-width: 1200px) {
      .tabbed-content--wrapper {
        margin-top: 160px;
        margin-bottom: 160px; } }
    @media screen and (min-width: 1921px) {
      .tabbed-content--wrapper {
        margin-top: 180px;
        margin-bottom: 200px; } }
  .tabbed-content--subtitle {
    font-size: 34px;
    font-weight: 300; }
    @media screen and (min-width: 1200px) {
      .tabbed-content--subtitle {
        font-size: 36px; } }
    @media screen and (min-width: 1921px) {
      .tabbed-content--subtitle {
        font-size: 45px; } }
  .tabbed-content--body {
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 20px; }
    @media screen and (min-width: 1200px) {
      .tabbed-content--body {
        font-size: 21px; } }
    @media screen and (min-width: 1921px) {
      .tabbed-content--body {
        font-size: 26px; } }
  .tabbed-content--button.button-0 {
    min-width: 170px;
    min-height: 60px;
    text-transform: uppercase;
    border: 2px solid #7b5231;
    background: #7b5231;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle; }
    @media screen and (min-width: 1200px) {
      .tabbed-content--button.button-0 {
        min-width: 185px;
        min-height: 55px; } }
    @media screen and (min-width: 1921px) {
      .tabbed-content--button.button-0 {
        min-width: 230px;
        min-height: 80px; } }
    .tabbed-content--button.button-0 a {
      display: block;
      color: #666666;
      font-size: 18px;
      line-height: 60px;
      font-weight: 600; }
      @media screen and (min-width: 1200px) {
        .tabbed-content--button.button-0 a {
          min-width: 190px;
          min-height: 55px;
          line-height: 55px;
          height: 55px; } }
      @media screen and (min-width: 1921px) {
        .tabbed-content--button.button-0 a {
          min-width: 232px;
          min-height: 80px;
          line-height: 80px;
          height: 80px;
          font-size: 22px; } }
    .tabbed-content--button.button-0 a:hover {
      text-underline: none;
      text-decoration: none; }
  .tabbed-content--button.button-1 {
    min-width: 170px;
    min-height: 60px;
    text-transform: uppercase;
    border: 2px solid #fff;
    background: #fff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle; }
    @media screen and (min-width: 1200px) {
      .tabbed-content--button.button-1 {
        min-width: 185px;
        min-height: 55px; } }
    @media screen and (min-width: 1921px) {
      .tabbed-content--button.button-1 {
        min-width: 230px;
        min-height: 80px; } }
    .tabbed-content--button.button-1 a {
      display: block;
      color: #7a7a7a;
      font-size: 18px;
      line-height: 60px;
      font-weight: 600; }
      @media screen and (min-width: 1200px) {
        .tabbed-content--button.button-1 a {
          min-width: 190px;
          min-height: 55px;
          line-height: 55px;
          height: 55px; } }
      @media screen and (min-width: 1921px) {
        .tabbed-content--button.button-1 a {
          min-width: 232px;
          min-height: 80px;
          line-height: 80px;
          height: 80px;
          font-size: 22px; } }
    .tabbed-content--button.button-1 a:hover {
      text-underline: none;
      text-decoration: none; }
    @media screen and (max-width: 1200px) {
      .tabbed-content--button.button-1 {
        background: #5994d3;
        border-color: #5994d3; }
        .tabbed-content--button.button-1 a {
          color: #cccccc; } }
  @media screen and (max-width: 768px) {
    .tabbed-content--button a {
      color: #cccccc; } }

.view-frontpage-tabs .views-bootstrap-tab-plugin-style {
  background: white; }
  @media screen and (max-width: 768px) {
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .tab-content > .tab-pane {
      display: block !important; }
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs {
      display: none; } }
  .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs {
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    margin-top: 15px;
    margin-bottom: 1px; }
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs li {
      border: none;
      border-radius: 0;
      width: 25%;
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center; }
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs li a {
      background: none;
      padding: 0;
      border: none;
      color: #7a7a7a;
      text-align: center;
      background: white;
      border-radius: 0;
      margin: 0;
      font-size: 22px;
      display: inline;
      position: relative;
      font-weight: 600; }
      @media screen and (min-width: 1921px) {
        .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs li a {
          font-size: 28px !important; } }
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs li:first-child {
      text-align: left; }
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs li:last-child {
      text-align: right; }
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs li.active {
      outline: none !important; }
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs li:focus a {
      outline: none !important; }
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs li a:focus {
      outline: none !important; }
    .view-frontpage-tabs .views-bootstrap-tab-plugin-style .nav.nav-tabs li.active a {
      outline: none !important;
      background: none;
      padding: 0;
      border: none;
      color: #7a7a7a;
      text-align: center;
      background: white;
      border-radius: 0;
      margin: 0;
      font-size: 22px;
      margin-top: 30px;
      margin-bottom: 30px;
      box-shadow: -1px 4px 0px -2px #f69322; }

.company-section-1 {
  background: #ce7e23;
  padding-bottom: 90px; }
  .company-section-1--title {
    margin-top: 63px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 38px;
    font-weight: 300; }
    @media screen and (min-width: 1200px) {
      .company-section-1--title {
        margin-top: 80px;
        margin-bottom: 20px;
        text-align: left;
        font-size: 40px; } }
    @media screen and (min-width: 1921px) {
      .company-section-1--title {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 48px; } }
    .company-section-1--title .number {
      color: white;
      padding-right: 20px; }
    .company-section-1--title .title {
      color: black; }
  .company-section-1--text {
    font-size: 19px;
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .company-section-1--text {
        font-size: 20px;
        text-align: left; } }
    @media screen and (min-width: 1921px) {
      .company-section-1--text {
        font-size: 24px; } }

.company-section-2 {
  color: white;
  background: #333333; }
  .company-section-2--title {
    margin-top: 63px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 38px;
    font-weight: 300; }
    @media screen and (min-width: 1200px) {
      .company-section-2--title {
        margin-top: 80px;
        margin-bottom: 20px;
        text-align: left;
        font-size: 40px; } }
    @media screen and (min-width: 1921px) {
      .company-section-2--title {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 48px; } }
    .company-section-2--title .number {
      color: #cc6633;
      padding-right: 20px; }
    .company-section-2--title .title {
      color: white; }
  .company-section-2--text {
    font-size: 19px;
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .company-section-2--text {
        font-size: 20px;
        text-align: left; } }
    @media screen and (min-width: 1921px) {
      .company-section-2--text {
        font-size: 24px; } }

.company-section-3 {
  background: white;
  padding-bottom: 90px; }
  .company-section-3--title {
    margin-top: 63px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 38px;
    font-weight: 300; }
    @media screen and (min-width: 1200px) {
      .company-section-3--title {
        margin-top: 80px;
        margin-bottom: 20px;
        text-align: left;
        font-size: 40px; } }
    @media screen and (min-width: 1921px) {
      .company-section-3--title {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 48px; } }
    .company-section-3--title .number {
      color: #ff9933;
      padding-right: 20px; }
    .company-section-3--title .title {
      color: #333333; }
  .company-section-3--text {
    font-size: 19px;
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .company-section-3--text {
        font-size: 20px;
        text-align: left; } }
    @media screen and (min-width: 1921px) {
      .company-section-3--text {
        font-size: 24px; } }

.view-company-page-slideshow .owl-nav > * {
  color: black;
  position: absolute;
  top: 50%; }
.view-company-page-slideshow .owl-nav .glyphicon {
  font-size: 40px;
  color: white; }
.view-company-page-slideshow .owl-prev {
  left: 5%; }
.view-company-page-slideshow .owl-next {
  right: 5%; }

.view-partners .views-row {
  min-height: 385px;
  margin-bottom: 10px; }
.view-partners .views-field-title {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px; }
  @media screen and (min-width: 1200px) {
    .view-partners .views-field-title {
      font-size: 14px;
      text-align: left; } }
  @media screen and (min-width: 1921px) {
    .view-partners .views-field-title {
      font-size: 18px; } }
.view-partners .views-field-occupation {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px; }
  @media screen and (min-width: 1200px) {
    .view-partners .views-field-occupation {
      font-size: 14px;
      text-align: left; } }
  @media screen and (min-width: 1921px) {
    .view-partners .views-field-occupation {
      font-size: 20px; } }

@media screen and (max-width: 1200px) {
  .contact {
    display: inline-block;
    float: left; } }
.contact-title {
  margin-bottom: 10px;
  color: #996322;
  font-size: 13px; }
  @media screen and (max-width: 1921px) {
    .contact-title {
      font-size: 16px; } }
.contact--body {
  color: #898989;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 13px; }
  @media screen and (max-width: 1921px) {
    .contact--body {
      font-size: 16px; } }
.contact--email {
  color: white;
  border-bottom: 1px solid #996322;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 13px; }
  @media screen and (max-width: 1921px) {
    .contact--email {
      font-size: 16px; } }

.view-footer-contact .row > * {
  padding: 0; }

.services-slide {
  background: #333333;
  padding-top: 15px; }
  .services-slide--image-caption-wrapper {
    font-size: 12px;
    color: #999999;
    text-align: right; }
    @media screen and (min-width: 1200px) {
      .services-slide--image-caption-wrapper {
        font-size: 12px; } }
    @media screen and (min-width: 1921px) {
      .services-slide--image-caption-wrapper {
        font-size: 14px;
        margin-bottom: 25px; } }
    .services-slide--image-caption-wrapper .client {
      color: white; }
    .services-slide--image-caption-wrapper .services-slide--client {
      color: #f9771c; }
  .services-slide--subtitle {
    color: #f9771c;
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 20px; }
    @media screen and (min-width: 1200px) {
      .services-slide--subtitle {
        font-size: 24px;
        padding-bottom: 20px; } }
    @media screen and (min-width: 1921px) {
      .services-slide--subtitle {
        font-size: 32px;
        padding-bottom: 25px; } }
  .services-slide--motto {
    color: #999999;
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 15px; }
    @media screen and (min-width: 1200px) {
      .services-slide--motto {
        font-size: 20px;
        padding-bottom: 20px; } }
    @media screen and (min-width: 1200px) {
      .services-slide--motto {
        font-size: 24px;
        padding-bottom: 25px; } }

.view-services-slideshow {
  background: #f9771c; }
  .view-services-slideshow #views-bootstrap-tab-1 {
    display: table;
    width: 100%; }
  .view-services-slideshow .nav-wrapper {
    display: table-footer-group; }
  .view-services-slideshow.view-display-id-block_1 {
    background-color: #f79422; }
    .view-services-slideshow.view-display-id-block_1 .view-content {
      padding-top: 45px;
      padding-bottom: 45px;
      padding-left: 15px;
      padding-right: 10px; }
      .view-services-slideshow.view-display-id-block_1 .view-content > div:last-child .bullet {
        display: none; }
      .view-services-slideshow.view-display-id-block_1 .view-content > div {
        display: inline; }
    .view-services-slideshow.view-display-id-block_1 .views-field-title {
      display: inline;
      position: relative; }
    .view-services-slideshow.view-display-id-block_1 .bullet {
      position: absolute;
      top: -10px;
      display: block;
      right: 2px; }
    .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content {
      /* margin-bottom: -1px; */
      display: inline;
      position: relative;
      background: none;
      padding: 0;
      padding-right: 20px;
      cursor: pointer;
      font-size: 22px;
      font-weight: 300; }
      .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content:hover {
        color: white; }
      .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content.active {
        color: white; }
      @media screen and (min-width: 1200px) {
        .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content {
          font-size: 24px; } }
      @media screen and (min-width: 1921px) {
        .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content {
          font-size: 32px; } }
  .view-services-slideshow.view-display-id-block .view-content {
    background: #333333; }

.services-motto {
  background: #333333; }

.service-step {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .service-step--num {
    font-size: 58px; }
  .service-step--summary {
    min-width: 270px;
    margin: auto;
    margin-bottom: 30px; }
  .service-step--title {
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid;
    padding-bottom: 10px; }
  .service-step--sub {
    font-size: 18px;
    margin-top: 10px; }
  .service-step--description {
    font-size: 18px;
    font-weight: 300;
    margin: auto; }
  @media screen and (max-width: 1200px) {
    .service-step {
      width: 80%;
      margin: auto; } }
  @media screen and (min-width: 1200px) {
    .service-step {
      text-align: left; }
      .service-step--num {
        font-size: 68px;
        line-height: 60px; }
      .service-step--summary {
        padding-left: 40px;
        border-left: 2px solid;
        margin-bottom: 0; }
      .service-step--title {
        font-size: 20px;
        border-bottom: 1px solid black !important;
        padding: 5px;
        margin-bottom: 5px; }
      .service-step--sub {
        margin-top: 0;
        font-size: 20px; }
      .service-step--description {
        font-size: 18px; } }
  @media screen and (min-width: 1921px) {
    .service-step--num {
      font-size: 85px;
      line-height: 85px; }
    .service-step--title {
      font-size: 25px; }
    .service-step--sub {
      font-size: 30px; }
    .service-step--description {
      font-size: 22px; } }

@media screen and (max-width: 1200px) {
  .node-services-step {
    padding-bottom: 60px;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 30px; }

  .view-services-steps .views-row-last .node-services-step {
    border-bottom: none; } }
.footer {
  background: #333333;
  font-size: 16px;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 0px;
  margin-top: -1px;
  border: 0; }
  @media screen and (max-width: 992px) {
    .footer .mobile-border {
      border-left: 1px solid #636363; } }
  .footer .navbar-nav.nav {
    margin: 0; }
  .footer--menu {
    margin: 0; }
  .footer--subtitle {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 25px; }
    @media screen and (min-width: 1200px) {
      .footer--subtitle {
        font-size: 20px; } }
  .footer--subtitle-description {
    color: #d8d8d8;
    font-size: 14px; }
    @media screen and (min-width: 1200px) {
      .footer--subtitle-description {
        font-size: 17px; } }
  @media screen and (max-width: 992px) {
    .footer--images {
      display: none; } }
  .footer--certifications {
    min-height: 300px;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383; }
    .footer--certifications > img {
      margin-bottom: 75px; }
    .footer--certifications img {
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      float: left; }
    @media screen and (max-width: 1200px) {
      .footer--certifications {
        min-height: 180px; } }
  .footer--logo .footer--certifications {
    display: none; }
    @media screen and (max-width: 992px) {
      .footer--logo .footer--certifications {
        display: block;
        border: none; } }
  @media screen and (max-width: 992px) {
    .footer--form.mobile {
      display: block;
      margin-top: 30px; } }
  @media screen and (min-width: 992px) {
    .footer--form.desktop {
      display: block; } }
  .footer--form {
    display: none; }
    .footer--form .footer--email-label {
      padding-bottom: 20px;
      color: white;
      font-size: 14px; }
      @media screen and (min-width: 1200px) {
        .footer--form .footer--email-label {
          font-size: 17px; } }
    .footer--form .footer--input {
      width: 100%;
      padding: 15px;
      border: 1px solid #f9771c;
      color: white;
      font-size: 13px;
      text-align: center; }
      @media screen and (min-width: 1200px) {
        .footer--form .footer--input {
          font-size: 17px; } }
    .footer--form .footer--button {
      min-width: 170px;
      min-height: 60px;
      text-transform: uppercase;
      border: 2px solid #fff;
      background: #fff;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      width: 100%;
      font-size: 20px;
      height: 60px;
      margin-top: 20px; }
      @media screen and (min-width: 1200px) {
        .footer--form .footer--button {
          min-width: 185px;
          min-height: 55px; } }
      @media screen and (min-width: 1921px) {
        .footer--form .footer--button {
          min-width: 230px;
          min-height: 80px; } }
      .footer--form .footer--button a {
        display: block;
        color: #f9771c;
        font-size: 18px;
        line-height: 60px;
        font-weight: 600; }
        @media screen and (min-width: 1200px) {
          .footer--form .footer--button a {
            min-width: 190px;
            min-height: 55px;
            line-height: 55px;
            height: 55px; } }
        @media screen and (min-width: 1921px) {
          .footer--form .footer--button a {
            min-width: 232px;
            min-height: 80px;
            line-height: 80px;
            height: 80px;
            font-size: 22px; } }
      .footer--form .footer--button a:hover {
        text-underline: none;
        text-decoration: none; }
  .footer--links {
    color: #898989;
    font-size: 14px;
    font-weight: bold; }
    .footer--links li a {
      padding: 0 !important;
      color: #898989; }
    .footer--links li {
      width: 100%;
      margin-bottom: 20px; }
    @media screen and (max-width: 1921px) {
      .footer--links {
        font-size: 17px; } }
  .footer label.control-label {
    display: none; }
  .footer .form-item.webform-component.webform-component-email.webform-component--email.form-group {
    border: 1px solid #f9771c;
    margin-top: 28px;
    padding: 10px; }
  .footer input#edit-submitted-email {
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    padding: 0;
    color: white; }
    .footer input#edit-submitted-email::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white;
      font-size: 13px; }
    .footer input#edit-submitted-email::-moz-placeholder {
      /* Firefox 19+ */
      color: white;
      font-size: 13px; }
    .footer input#edit-submitted-email:-ms-input-placeholder {
      /* IE 10+ */
      color: white;
      font-size: 13px; }
    .footer input#edit-submitted-email:-moz-placeholder {
      /* Firefox 18- */
      color: white;
      font-size: 13px; }
  .footer .form-actions button {
    display: block;
    width: 100%;
    border-radius: 0;
    background: white;
    border-color: #808080;
    color: orange;
    height: 45px;
    font-size: 16px; }

/*# sourceMappingURL=style.css.map */
