@media (min-width: 1140px) {
  .container {
    width: 1140px; } }
@media (min-width: 1600px) {
  .container {
    width: 1560px; } }
.view-page-section article header > h2 {
  display: none; }

.my-container, .view-services-slideshow.view-display-id-block_1 .view-content, .views-bootstrap-tab-plugin-style .nav.nav-tabs {
  margin: auto; }
  @media (min-width: 768px) {
    .my-container, .view-services-slideshow.view-display-id-block_1 .view-content, .views-bootstrap-tab-plugin-style .nav.nav-tabs {
      width: 750px; } }
  @media (min-width: 992px) {
    .my-container, .view-services-slideshow.view-display-id-block_1 .view-content, .views-bootstrap-tab-plugin-style .nav.nav-tabs {
      width: 970px; } }
  @media (min-width: 1200px) {
    .my-container, .view-services-slideshow.view-display-id-block_1 .view-content, .views-bootstrap-tab-plugin-style .nav.nav-tabs {
      width: 1170px; } }
  @media (min-width: 1600px) {
    .my-container, .view-services-slideshow.view-display-id-block_1 .view-content, .views-bootstrap-tab-plugin-style .nav.nav-tabs {
      width: 1560px; } }

body {
  font-family: "Open Sans", Helvetica, sans-serif; }

.show-mobile-only {
  display: none; }
  @media screen and (max-width: 1140px) {
    .show-mobile-only {
      display: block; } }

.show-desktop-only {
  display: block; }
  @media screen and (min-width: 1140px) {
    .show-desktop-only {
      display: none; } }

.clearfix:after, .view-services-slideshow.view-display-id-block .view-content:after, .view-services-slideshow.view-display-id-block_1:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix, .view-services-slideshow.view-display-id-block .view-content, .view-services-slideshow.view-display-id-block_1 {
  display: inline-block; }

.clearfix, .view-services-slideshow.view-display-id-block .view-content, .view-services-slideshow.view-display-id-block_1 {
  display: block; }

.navbar-default {
  background: transparent;
  padding: 0;
  /* margin-top: 35px; */
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 111; }
  .navbar-default img.grey {
    display: none; }
  .navbar-default .navbar-nav > .active > a {
    color: white; }
  .navbar-default .row .image-wrapper {
    padding: 0; }
  .navbar-default.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    margin-top: 0;
    background: white;
    padding-bottom: 25px;
    padding-top: 25px; }
    .navbar-default.sticky img.white {
      display: none; }
    .navbar-default.sticky .icon-bar {
      background: grey; }
    .navbar-default.sticky img.grey {
      display: block; }
    .navbar-default.sticky li > a {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 20px;
      color: #838383 !important;
      background-color: transparent !important;
      padding-left: 0px; }
      @media screen and (min-width: 750px) {
        .navbar-default.sticky li > a {
          font-size: 16px; } }
      @media screen and (min-width: 1600px) {
        .navbar-default.sticky li > a {
          font-size: 20px; } }
      .navbar-default.sticky li > a:hover {
        color: #838383 !important; }
  .navbar-default .navbar-collapse {
    background: none;
    padding: 0; }
  .navbar-default .navbar-header a {
    margin: 0; }
  .navbar-default .navbar-nav {
    margin: 0; }
    .navbar-default .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 20px;
      color: white;
      background-color: transparent !important;
      padding-left: 0px; }
      @media screen and (min-width: 750px) {
        .navbar-default .navbar-nav > li > a {
          font-size: 20px; } }
      @media screen and (min-width: 1600px) {
        .navbar-default .navbar-nav > li > a {
          font-size: 16px; } }
      .navbar-default .navbar-nav > li > a:hover {
        color: #838383; }
  @media screen and (max-width: 1600px) {
    .navbar-default .navbar-default .row {
      position: relative; } }
  @media screen and (max-width: 992px) {
    .navbar-default .image-wrapper {
      text-align: center; }
      .navbar-default .image-wrapper a {
        display: inline-block; } }
  .navbar-default .image-wrapper a {
    margin: 0px; }
  @media screen and (max-width: 1600px) {
    .navbar-default .navbar-nav {
      float: none;
      margin: 0; } }

ul.language-switcher-locale-url {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  /* float: right; */
  padding: 0; }
  ul.language-switcher-locale-url li {
    float: left;
    display: inline; }
    ul.language-switcher-locale-url li a {
      color: white; }
      @media screen and (min-width: 1600px) {
        ul.language-switcher-locale-url li a {
          font-size: 20px;
          line-height: 20px; } }
      @media screen and (min-width: 1600px) {
        ul.language-switcher-locale-url li a {
          font-size: 16px;
          line-height: 16px; } }
  ul.language-switcher-locale-url li.first {
    border-right: 1px solid white;
    padding-right: 5px;
    margin-right: 5px; }
  ul.language-switcher-locale-url li.active a {
    color: #f9771c; }

section#block-locale-language {
  display: inline; }

.region.region-navigation {
  float: right; }

.menu-wrapper.desktop {
  display: none; }
  @media screen and (min-width: 992px) {
    .menu-wrapper.desktop {
      display: block; } }
.menu-wrapper.mobile {
  display: none; }
  @media screen and (max-width: 992px) {
    .menu-wrapper.mobile {
      display: block; } }
  .menu-wrapper.mobile .my-navbar-collapse {
    display: none; }
  .menu-wrapper.mobile li {
    float: none;
    display: block;
    border-right: none !important; }
    .menu-wrapper.mobile li a {
      color: white;
      font-size: 16px; }
.menu-wrapper button {
  position: absolute;
  top: -37px;
  left: 10px;
  background: none;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 5px; }
  .menu-wrapper button .icon-bar + .icon-bar {
    margin-top: 4px; }
  .menu-wrapper button .icon-bar {
    display: block;
    width: 34px;
    height: 6px;
    border-radius: 1px;
    /* border: 1px solid transparent; */
    background: white; }

.section-2 {
  padding-top: 125px;
  padding-bottom: 125px;
  background: #333333;
  color: white; }
  .section-2--title {
    font-size: 41px;
    margin-bottom: 40px; }
    @media screen and (min-width: 1600px) {
      .section-2--title {
        font-size: 52px; } }
  @media screen and (max-width: 750px) {
    .section-2 .text-wrapper > * {
      margin: auto;
      text-align: center;
      float: none; } }
  .section-2--text {
    font-size: 23px;
    margin-bottom: 45px; }
    @media screen and (min-width: 1600px) {
      .section-2--text {
        font-size: 30px; } }
  .section-2--smaller-text {
    font-size: 18px;
    margin-bottom: 45px; }
    @media screen and (min-width: 1140px) {
      .section-2--smaller-text {
        font-size: 22px; } }
  .section-2-button {
    min-width: 170px;
    min-height: 60px;
    text-transform: uppercase;
    border: 1px solid #f9771c;
    background: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle; }
    @media screen and (min-width: 1140px) {
      .section-2-button {
        min-width: 190px;
        min-height: 55px; } }
    @media screen and (min-width: 1600px) {
      .section-2-button {
        min-width: 232px;
        min-height: 80px; } }
    .section-2-button a {
      display: block;
      color: white;
      font-size: 18px;
      line-height: 60px; }
      @media screen and (min-width: 1140px) {
        .section-2-button a {
          min-width: 190px;
          min-height: 55px;
          line-height: 55px;
          height: 55px; } }
      @media screen and (min-width: 1600px) {
        .section-2-button a {
          min-width: 232px;
          min-height: 80px;
          line-height: 80px;
          height: 80px;
          font-size: 22px; } }
    .section-2-button a:hover {
      text-underline: none;
      text-decoration: none; }

.storytelling {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #e6e7e9; }
  @media screen and (min-width: 750px) {
    .storytelling {
      padding-top: 160px;
      padding-bottom: 160px; } }
  @media screen and (min-width: 1140px) {
    .storytelling {
      padding-top: 200px;
      padding-bottom: 200px; } }
  .storytelling--title {
    font-size: 36px;
    color: #808920;
    padding-bottom: 20px; }
    @media screen and (max-width: 750px) {
      .storytelling--title {
        text-align: center; } }
    @media screen and (min-width: 1140px) {
      .storytelling--title {
        font-size: 46px;
        padding-bottom: 40px; } }
  @media screen and (max-width: 750px) {
    .storytelling--text-wrapper {
      text-align: center; } }
  .storytelling--description {
    font-size: 21px;
    text-align: center;
    padding-bottom: 20px; }
    @media screen and (min-width: 750px) {
      .storytelling--description {
        font-size: 21px;
        text-align: left;
        padding-bottom: 70px; } }
    @media screen and (min-width: 1140px) {
      .storytelling--description {
        font-size: 26px;
        text-align: left;
        padding-bottom: 90px; } }
  .storytelling--button {
    min-width: 170px;
    min-height: 60px;
    text-transform: uppercase;
    border: 1px solid #808920;
    background: #fff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle; }
    @media screen and (max-width: 750px) {
      .storytelling--button {
        text-align: center; } }
    @media screen and (min-width: 1140px) {
      .storytelling--button {
        min-width: 190px;
        min-height: 55px; } }
    @media screen and (min-width: 1600px) {
      .storytelling--button {
        min-width: 232px;
        min-height: 80px; } }
    .storytelling--button a {
      display: block;
      color: #000;
      font-size: 18px;
      line-height: 60px; }
      @media screen and (min-width: 1140px) {
        .storytelling--button a {
          min-width: 190px;
          min-height: 55px;
          line-height: 55px;
          height: 55px; } }
      @media screen and (min-width: 1600px) {
        .storytelling--button a {
          min-width: 232px;
          min-height: 80px;
          line-height: 80px;
          height: 80px;
          font-size: 22px; } }
    .storytelling--button a:hover {
      text-underline: none;
      text-decoration: none; }

.service-step {
  margin: 50px 0;
  text-align: center; }
  .service-step--num {
    font-size: 58px; }
  .service-step--title {
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 5px; }
  .service-step--sub {
    font-size: 22px; }
  .service-step--description {
    font-size: 18px;
    font-weight: 300; }
  @media screen and (min-width: 1140px) {
    .service-step {
      text-align: left; }
      .service-step .service-step--num {
        font-size: 60px;
        line-height: 60px; }
      .service-step--summary {
        padding-left: 40px;
        max-height: 160px;
        overflow: visible;
        width: 100%;
        border-left: 1px; }
      .service-step .service-step--title {
        font-weight: 600;
        font-size: 20px;
        border-bottom: 1px solid black;
        padding: 5px;
        margin-bottom: 5px; }
      .service-step .service-step--sub {
        font-size: 22px; }
      .service-step .service-step--description {
        font-size: 18px;
        font-weight: 300; }
      .service-step .service-step--title, .service-step .service-step--description {
        margin-top: 25px; } }

.slideshow {
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  min-height: 800px; }
  @media screen and (min-width: 1600px) {
    .slideshow {
      min-height: 1000px; } }
  .slideshow--label-wrapper {
    padding: 25px;
    position: absolute;
    top: 75%;
    background: #0099ff;
    display: inline-block;
    color: white; }
    @media screen and (max-width: 750px) {
      .slideshow--label-wrapper {
        left: 40px; } }
  .slideshow--label {
    color: white;
    font-size: 20px; }
  .slideshow--mobile-img {
    display: none; }

.view-frontpage-slideshow .owl-nav > * {
  color: black;
  position: absolute;
  top: 50%; }
.view-frontpage-slideshow .owl-nav .glyphicon {
  font-size: 40px;
  color: white; }
.view-frontpage-slideshow .owl-prev {
  left: 5%; }
.view-frontpage-slideshow .owl-next {
  right: 5%; }
.view-frontpage-slideshow .owl-dots {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: -50px; }
.view-frontpage-slideshow .owl-dot {
  padding: 10px;
  background: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px; }
.view-frontpage-slideshow .owl-dot.active {
  background: #f9771c; }

@media screen and (max-width: 1140px) {
  .contact {
    display: inline-block;
    float: left; } }
.contact-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #f9771c; }
.contact--body {
  color: #636363;
  margin-bottom: 10px; }
.contact--email {
  color: white;
  border-bottom: 1px solid #f9771c;
  display: inline-block;
  padding-bottom: 5px; }

.view-footer-contact .row > * {
  padding: 0; }

.service-step {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .service-step--num {
    font-size: 58px; }
  .service-step--summary {
    min-width: 270px;
    margin: auto;
    margin-bottom: 30px; }
  .service-step--title {
    font-weight: 600;
    font-size: 20px;
    border-bottom: 2px solid;
    padding-bottom: 10px; }
  .service-step--sub {
    font-size: 22px;
    margin-top: 10px; }
  .service-step--description {
    font-size: 18px;
    font-weight: 300;
    margin: auto; }
  @media screen and (min-width: 1140px) {
    .service-step {
      text-align: left; }
      .service-step--num {
        font-size: 60px;
        line-height: 60px; }
      .service-step--summary {
        padding-left: 40px;
        border-left: 2px solid;
        margin-bottom: 0; }
      .service-step--title {
        font-size: 20px;
        border-bottom: 1px solid black !important;
        padding: 5px;
        margin-bottom: 5px; }
      .service-step--sub {
        margin-top: 0; }
      .service-step--description {
        font-size: 18px; } }
  @media screen and (min-width: 1600px) {
    .service-step--num {
      font-size: 85px;
      line-height: 85px; }
    .service-step--title {
      font-size: 25px; }
    .service-step--sub {
      font-size: 30px; }
    .service-step--description {
      font-size: 22px; } }

.services-slide {
  background: #333333;
  padding-top: 15px; }
  .services-slide--image-caption-wrapper {
    font-size: 12px;
    color: #999999;
    text-align: right; }
    @media screen and (min-width: 750px) {
      .services-slide--image-caption-wrapper {
        font-size: 13px; } }
    @media screen and (min-width: 1140px) {
      .services-slide--image-caption-wrapper {
        font-size: 14px;
        margin-bottom: 25px; } }
    .services-slide--image-caption-wrapper .client {
      color: white; }
    .services-slide--image-caption-wrapper .services-slide--client {
      color: #f9771c; }
  .services-slide--subtitle {
    color: #f9771c;
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 22px; }
    @media screen and (min-width: 750px) {
      .services-slide--subtitle {
        font-size: 28px;
        padding-bottom: 20px; } }
    @media screen and (min-width: 1140px) {
      .services-slide--subtitle {
        font-size: 32px;
        padding-bottom: 25px; } }
  .services-slide--motto {
    color: #999999;
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 15px; }
    @media screen and (min-width: 750px) {
      .services-slide--motto {
        font-size: 24px;
        padding-bottom: 20px; } }
    @media screen and (min-width: 1140px) {
      .services-slide--motto {
        font-size: 26px;
        padding-bottom: 25px; } }

.view-services-slideshow {
  background: #f9771c; }
  .view-services-slideshow #views-bootstrap-tab-1 {
    display: table;
    width: 100%; }
  .view-services-slideshow .nav-wrapper {
    display: table-footer-group; }
  .view-services-slideshow.view-display-id-block_1 {
    background-color: #f9771c; }
    .view-services-slideshow.view-display-id-block_1 .view-content {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px; }
      .view-services-slideshow.view-display-id-block_1 .view-content > div:last-child .bullet {
        display: none; }
      .view-services-slideshow.view-display-id-block_1 .view-content > div {
        display: inline; }
    .view-services-slideshow.view-display-id-block_1 .views-field-title {
      display: inline;
      position: relative; }
    .view-services-slideshow.view-display-id-block_1 .bullet {
      position: absolute;
      top: -10px;
      display: block;
      right: 2px; }
    .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content {
      /* margin-bottom: -1px; */
      display: inline;
      position: relative;
      background: none;
      padding: 0;
      padding-right: 20px;
      cursor: pointer;
      font-size: 22px; }
      .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content:hover {
        color: white; }
      .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content.active {
        color: white; }
      @media screen and (min-width: 750px) {
        .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content {
          font-size: 26px; } }
      @media screen and (min-width: 1140px) {
        .view-services-slideshow.view-display-id-block_1 .views-field-title .field-content {
          font-size: 32px; } }
  .view-services-slideshow.view-display-id-block .view-content {
    background: #333333; }

.tabbed-content {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important; }
  @media screen and (max-width: 750px) {
    .tabbed-content {
      background: #cccccc !important;
      color: black !important; }
      .tabbed-content .tabbed-content--body {
        color: black !important; } }
  .tabbed-content--title {
    margin-top: 120px;
    margin-bottom: 25px;
    font-size: 38px;
    text-align: center; }
    @media screen and (min-width: 750px) {
      .tabbed-content--title {
        display: none; } }
  @media screen and (min-width: 750px) {
    .tabbed-content--img {
      display: none; } }
  .tabbed-content--wrapper {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left; }
    @media screen and (max-width: 750px) {
      .tabbed-content--wrapper {
        margin-left: auto;
        margin-right: auto;
        text-align: center; } }
    @media screen and (min-width: 1140px) {
      .tabbed-content--wrapper {
        margin-top: 160px;
        margin-bottom: 160px; } }
    @media screen and (min-width: 1600px) {
      .tabbed-content--wrapper {
        margin-top: 180px;
        margin-bottom: 200px; } }
  .tabbed-content--subtitle {
    font-size: 34px; }
    @media screen and (min-width: 1600px) {
      .tabbed-content--subtitle {
        font-size: 36px; } }
    @media screen and (min-width: 1600px) {
      .tabbed-content--subtitle {
        font-size: 45px; } }
  .tabbed-content--body {
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 20px; }
    @media screen and (min-width: 1600px) {
      .tabbed-content--body {
        font-size: 26px; } }
  .tabbed-content--button.button-0 {
    min-width: 170px;
    min-height: 60px;
    text-transform: uppercase;
    border: 1px solid #7b5231;
    background: #7b5231;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle; }
    @media screen and (min-width: 1140px) {
      .tabbed-content--button.button-0 {
        min-width: 190px;
        min-height: 55px; } }
    @media screen and (min-width: 1600px) {
      .tabbed-content--button.button-0 {
        min-width: 232px;
        min-height: 80px; } }
    .tabbed-content--button.button-0 a {
      display: block;
      color: #fff;
      font-size: 18px;
      line-height: 60px; }
      @media screen and (min-width: 1140px) {
        .tabbed-content--button.button-0 a {
          min-width: 190px;
          min-height: 55px;
          line-height: 55px;
          height: 55px; } }
      @media screen and (min-width: 1600px) {
        .tabbed-content--button.button-0 a {
          min-width: 232px;
          min-height: 80px;
          line-height: 80px;
          height: 80px;
          font-size: 22px; } }
    .tabbed-content--button.button-0 a:hover {
      text-underline: none;
      text-decoration: none; }
  .tabbed-content--button.button-1 {
    min-width: 170px;
    min-height: 60px;
    text-transform: uppercase;
    border: 1px solid #fff;
    background: #fff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle; }
    @media screen and (min-width: 1140px) {
      .tabbed-content--button.button-1 {
        min-width: 190px;
        min-height: 55px; } }
    @media screen and (min-width: 1600px) {
      .tabbed-content--button.button-1 {
        min-width: 232px;
        min-height: 80px; } }
    .tabbed-content--button.button-1 a {
      display: block;
      color: #7a7a7a;
      font-size: 18px;
      line-height: 60px; }
      @media screen and (min-width: 1140px) {
        .tabbed-content--button.button-1 a {
          min-width: 190px;
          min-height: 55px;
          line-height: 55px;
          height: 55px; } }
      @media screen and (min-width: 1600px) {
        .tabbed-content--button.button-1 a {
          min-width: 232px;
          min-height: 80px;
          line-height: 80px;
          height: 80px;
          font-size: 22px; } }
    .tabbed-content--button.button-1 a:hover {
      text-underline: none;
      text-decoration: none; }
    @media screen and (max-width: 750px) {
      .tabbed-content--button.button-1 {
        background: #5994d3;
        border-color: #5994d3; }
        .tabbed-content--button.button-1 a {
          color: white; } }

.views-bootstrap-tab-plugin-style {
  background: white; }
  @media screen and (max-width: 750px) {
    .views-bootstrap-tab-plugin-style .tab-content > .tab-pane {
      display: block !important; }
    .views-bootstrap-tab-plugin-style .nav.nav-tabs {
      display: none; } }
  .views-bootstrap-tab-plugin-style .nav.nav-tabs {
    border: none;
    margin-top: 15px;
    margin-bottom: 1px; }
    .views-bootstrap-tab-plugin-style .nav.nav-tabs li {
      border: none;
      border-radius: 0;
      width: 25%;
      float: left; }
    .views-bootstrap-tab-plugin-style .nav.nav-tabs li a {
      background: none;
      padding: 0;
      border: none;
      color: #7a7a7a;
      text-align: center;
      background: white;
      border-radius: 0;
      margin: 0;
      font-size: 22px;
      margin-top: 30px;
      margin-bottom: 30px; }
    .views-bootstrap-tab-plugin-style .nav.nav-tabs li:first-child a {
      float: left; }
    .views-bootstrap-tab-plugin-style .nav.nav-tabs li:last-child a {
      float: right; }
    .views-bootstrap-tab-plugin-style .nav.nav-tabs li.active a {
      background: none;
      padding: 0;
      border: none;
      color: #7a7a7a;
      text-align: center;
      text-decoration: underline;
      text-underline-color: #f9771c;
      text-decoration-color: #f9771c;
      -moz-text-decoration-color: #f9771c;
      background: white;
      border-radius: 0;
      margin: 0;
      font-size: 22px;
      margin-top: 30px;
      margin-bottom: 30px; }

.company-section-1 {
  background: #f9771c;
  padding-bottom: 70px; }
  .company-section-1--title {
    margin-top: 63px;
    margin-bottom: 30px;
    text-align: center; }
    @media screen and (min-width: 750px) {
      .company-section-1--title {
        margin-top: 80px;
        margin-bottom: 20px;
        text-align: left; } }
    @media screen and (min-width: 1140px) {
      .company-section-1--title {
        margin-top: 80px;
        margin-bottom: 40px; } }
    .company-section-1--title .number {
      color: white;
      padding-left: 10px; }
    .company-section-1--title .title {
      color: black; }
  .company-section-1--title {
    text-align: center;
    font-size: 38px; }
    @media screen and (min-width: 750px) {
      .company-section-1--title {
        font-size: 40px;
        text-align: left; } }
    @media screen and (min-width: 1140px) {
      .company-section-1--title {
        font-size: 48px; } }
  .company-section-1--text {
    font-size: 19px;
    text-align: center; }
    @media screen and (min-width: 750px) {
      .company-section-1--text {
        font-size: 20px;
        text-align: left; } }
    @media screen and (min-width: 1140px) {
      .company-section-1--text {
        font-size: 28px; } }

.company-section-3 {
  background: white;
  padding-bottom: 70px; }
  .company-section-3--title {
    margin-top: 63px;
    margin-bottom: 30px;
    text-align: center; }
    @media screen and (min-width: 750px) {
      .company-section-3--title {
        margin-top: 80px;
        margin-bottom: 20px;
        text-align: left; } }
    @media screen and (min-width: 1140px) {
      .company-section-3--title {
        margin-top: 80px;
        margin-bottom: 40px; } }
    .company-section-3--title .number {
      color: #f9771c; }
    .company-section-3--title .title {
      color: black; }
  .company-section-3--title {
    text-align: center;
    font-size: 38px; }
    @media screen and (min-width: 750px) {
      .company-section-3--title {
        font-size: 40px;
        text-align: left; } }
    @media screen and (min-width: 1140px) {
      .company-section-3--title {
        font-size: 48px; } }
  .company-section-3--text {
    font-size: 19px;
    text-align: center; }
    @media screen and (min-width: 750px) {
      .company-section-3--text {
        font-size: 20px;
        text-align: left; } }
    @media screen and (min-width: 1140px) {
      .company-section-3--text {
        font-size: 28px; } }

.view-company-page-slideshow .owl-nav > * {
  color: black;
  position: absolute;
  top: 50%; }
.view-company-page-slideshow .owl-nav .glyphicon {
  font-size: 40px;
  color: white; }
.view-company-page-slideshow .owl-prev {
  left: 5%; }
.view-company-page-slideshow .owl-next {
  right: 5%; }
.view-company-page-slideshow .owl-dots {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: -50px; }
.view-company-page-slideshow .owl-dot {
  padding: 10px;
  background: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px; }
.view-company-page-slideshow .owl-dot.active {
  background: #f9771c; }

.footer {
  background: #333333; }
  .footer--subtitle {
    color: white;
    font-weight: bold;
    font-size: 16px; }
    @media screen and (min-width: 750px) {
      .footer--subtitle {
        font-size: 20px;
        padding-bottom: 20px; } }
  .footer--certifications img {
    margin-bottom: 20px; }
  .footer--logo .footer--certifications {
    display: none; }
    @media screen and (max-width: 750px) {
      .footer--logo .footer--certifications {
        display: block; } }
  .footer--links {
    color: #898989;
    font-size: 16px;
    font-weight: bold; }
    .footer--links li a {
      padding: 0 !important;
      color: #898989; }
    .footer--links li {
      width: 100%;
      margin-bottom: 20px; }
    @media screen and (max-width: 750px) {
      .footer--links {
        font-size: 14px; } }

.footer {
  background: #333333; }

.footer--subtitle {
  color: white;
  font-weight: bold;
  font-size: 16px; }

@media screen and (min-width: 750px) {
  .footer--subtitle {
    font-size: 20px;
    padding-bottom: 20px; } }
.footer--certifications img {
  margin-bottom: 20px; }

.footer--logo .footer--certifications {
  display: none; }

@media screen and (max-width: 750px) {
  .footer--logo .footer--certifications {
    display: block; } }
.footer--links {
  color: #898989;
  font-size: 16px;
  font-weight: bold; }

.footer--links li a {
  padding: 0 !important;
  color: #898989; }

.footer--links li {
  width: 100%;
  margin-bottom: 20px; }

@media screen and (max-width: 750px) {
  .footer--links {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
