.wysiwyg-content,
.imageteaser,
.imageblock {
	padding: 8px;
	margin: 10px;
	background: #eee;
	border-radius: 8px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px #fff inset, 0 -1px 0px #ccc inset;
	overflow: hidden;
}

.wysiwyg-content--double-image,
.imageblock {
	max-width: 60%;
	margin: 0 auto;
}

.wysiwyg-content__image,
.wysiwyg-content__text,
.wysiwyg-content__title,
.imageteaser-title,
.imageteaser-sidebar,
.imageteaser-content,
.imageblock-content {
	box-shadow: 0 1px 1px #ddd inset;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: #fff;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.wysiwyg-content__image,
.imageteaser-sidebar {
	width: 24%;
}

.wysiwyg-content__text,
.imageblock-content {
	width: 50%;
	float: left;
	padding: 5px;
}

.wysiwyg-content__image img,
.imageteaser-sidebar img,
.imageblock-content img {
	display: block;
  width: 100%;
  height: auto;
}

.wysiwyg-content__title,
.imageteaser-title {
  margin: 0 0 8px;
  padding: 5px 8px;
}

.wysiwyg-content__text,
.imageteaser-content {
	width: 75%;
	padding: 0 10px;
}

.wysiwyg-content--image-on-left-with-text .wysiwyg-content__image,
.imageteaser-left .imageteaser-sidebar {
	float: left;
}

.wysiwyg-content--image-on-left-with-text .wysiwyg-content__text,
.imageteaser-left .imageteaser-title,
.imageteaser-left .imageteaser-content {
	margin-left: 25%;
}
.wysiwyg-content--image-on-right-with-text .wysiwyg-content__image,
.wysiwyg-content--image-on-right-with-title-and-text .wysiwyg-content__image,
.imageteaser-right .imageteaser-sidebar {
	float: right;
}

.wysiwyg-content--image-on-right-with-text .wysiwyg-content__title,
.wysiwyg-content--image-on-right-with-title-and-text .wysiwyg-content__title,
.wysiwyg-content--image-on-right-with-title-and-text .wysiwyg-content__text,
.imageteaser-right .imageteaser-title,
.imageteaser-right .imageteaser-content {
	margin-right: 25%;
}
